@import 'nib'
@import 'includes/colors'
@import 'includes/modal'
@import 'includes/fonts'
@import 'includes/button'
@import 'includes/tab'
@import 'includes/nav'
@import 'partials/gameConfig'

html *
  cursor default
  user-select none

body
  font-family "Cabin"
  background url("images/FoundryOptions_I13.png") #2C2E2C
  color midnight-blue
  margin 0

.main-title
  height 40px
  padding 12px 0 15px 70px
  text-align center
  font-size 32px
  color #FDF59C
  text-shadow 0 0 10px rgba(0, 0, 0, 0.5)
  position absolute
  top 0
  right 70px
  left 0  
  -webkit-app-region drag

.main-close
  position absolute
  right 20px
  top 12px  
  height 47px
  width 47px
  background-image url('images/FoundryOptions_I6.png')
  background-position -99px -97px
  &:hover
    background-position -146px -97px
  &:active
    background-position -52px -97px

.main-container 
  position absolute
  right 0
  top 67px
  width 80%

  &.ng-enter
    padding-top 35px
    transition 0.2s all
    opacity 0
    &.ng-enter-active
      padding-top 0
      opacity 1
