@import 'nib'
@import 'includes/colors'
@import 'includes/modal'
@import 'includes/fonts'
@import 'includes/button'
@import 'includes/tab'
@import 'includes/nav'
@import 'partials/gameConfig'

html *
  cursor default
  user-select none

body
  font-family "Cabin"
  background clouds
  color midnight-blue
  margin 0  

.main-container 
  position absolute
  right 0
  top 0
  width 80%

  &.ng-enter
    padding-top 35px
    transition 0.2s all
    opacity 0
    &.ng-enter-active
      padding-top 0
      opacity 1
