@import 'nib'

@import 'includes/colors'
@import 'includes/sprite'
@import 'includes/fonts'
@import 'includes/separator'
@import 'includes/modal'
@import 'includes/button'
@import 'includes/tab'
@import 'includes/tooltip'
@import 'includes/navigation'
@import 'includes/configEditor'
@import 'includes/smartcastKey'

@import 'partials/sound'
@import 'partials/hotkeys'


html *
  cursor url('images/cursor.cur'), default !important
  user-select none

body
  font-family 'Cabin'
  background url('images/background.png') #2C2E2C
  color clouds
  margin 0
  text-rendering optimizeLegibility

.main-title
  height 40px
  padding 12px 0 15px 70px
  text-align center
  font-size 32px
  color #FDF59C
  text-shadow 0 0 10px rgba(0, 0, 0, 0.5)
  position absolute
  top 0
  right 70px
  left 0  
  -webkit-app-region drag

.main-close
  position absolute
  right 20px
  top 12px  
  sprite-crop(I6, 99, 97, 47, 47, true, true)
  &:hover
    sprite-crop(I6, 146, 97, 47, 47)
  &:active
    sprite-crop(I6, 52, 97, 47, 47)

.main-container 
  position absolute
  left 242px
  top 148px
  right 22px
  bottom 67px
  overflow-y auto  
  margin 8px 14px 0 28px
  font-size 15px

  h3
    margin 20px 0 3px 0
    &:first-child
      margin 0 0 3px 0

  &::-webkit-scrollbar
    width 22px
    height 646px
  &::-webkit-scrollbar-button
    width 22px
    height 28px
    sprite-transition()
    &:start
      sprite(I1, 128, 120)
    &:end
      sprite(I1, 152, 120)
  &::-webkit-scrollbar-track
    sprite(I1, 0, 0)
  &::-webkit-scrollbar-thumb
    background-image url('images/scroll_thumb.png')
    background-size 100% 100%
    &:hover
      background-image url('images/scroll_thumb_hover.png')
    &:active
      background-image url('images/scroll_thumb_active.png')      

  &.ng-enter
    transition 0.2s all
    opacity 0
    &.ng-enter-active
      opacity 1
