doctype 5
html(lang='en', ng-app='lolconf')
  head
    title {{'APP_TITLE'|t}}
    link(href='bower_components/font-awesome/build/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='bower_components/selectize/selectize.css', rel='stylesheet')
    link(href='app.css', rel='stylesheet')
    script(type='text/javascript', src='bower_components/jquery/jquery.js')
    script(type='text/javascript', src='bower_components/angular/angular.js')
    script(type='text/javascript', src='bower_components/angular-route/angular-route.js')
    script(type='text/javascript', src='bower_components/angular-animate/angular-animate.js')
    script(type='text/javascript', src='bower_components/angular-translate/angular-translate.js')
    script(type='text/javascript', src='bower_components/selectize/selectize.js')
    script(type='text/javascript', src='app.js')
  body
    .nav-menu(ng-controller='SidebarCtrl')
      ul
        li(ng-repeat='section in sections')
          a(ng-href='\#{{section.page}}') {{section.titleKey|t}}
    .main-container(ng-view)
    .modal-overlay
    .modal-content