div
  p {{'HOTKEYS_BIND_INSTRUCTION'|t}}
  p {{definition.labelKey|t}}
  p 
    input.hotkey-bind(ng-keypress='bindKey($event)')
  
  .keyboard
    .keyboard-r4
      a.keyboard-key ESC
      a.keyboard-key F1
      a.keyboard-key F2
      a.keyboard-key F3
      a.keyboard-key F4
      a.keyboard-key F5
      a.keyboard-key F6
      a.keyboard-key F7
      a.keyboard-key F8
      a.keyboard-key F9
      a.keyboard-key F10
      a.keyboard-key F11
      a.keyboard-key F12
    .keyboard-r4
      a.keyboard-key `
      a.keyboard-key 1
      a.keyboard-key 2
      a.keyboard-key 3
      a.keyboard-key 4
      a.keyboard-key 5
      a.keyboard-key 6
      a.keyboard-key 7
      a.keyboard-key 8
      a.keyboard-key 9
      a.keyboard-key 0
      a.keyboard-key -
      a.keyboard-key =
      a.keyboard-key.keyboard-key-1x200 <-
    .keyboard-r3
      a.keyboard-key.keyboard-key-1x150 ->|
      a.keyboard-key(ng-click='clickBind("q")') Q
      a.keyboard-key(ng-click='clickBind("w")') W
      a.keyboard-key(ng-click='clickBind("e")') E
      a.keyboard-key(ng-click='clickBind("r")') R
      a.keyboard-key(ng-click='clickBind("t")') T
      a.keyboard-key(ng-click='clickBind("y")') Y
      a.keyboard-key(ng-click='clickBind("u")') U
      a.keyboard-key(ng-click='clickBind("i")') I
      a.keyboard-key(ng-click='clickBind("o")') O
      a.keyboard-key(ng-click='clickBind("p")') P
      a.keyboard-key(ng-click='clickBind("[")') [
      a.keyboard-key(ng-click='clickBind("]")') ]
      a.keyboard-key.keyboard-key-1x150 \
    .keyboard-r2
      a.keyboard-key.keyboard-key-1x175 CAP
      a.keyboard-key(ng-click='clickBind("a")') A
      a.keyboard-key(ng-click='clickBind("s")') S
      a.keyboard-key(ng-click='clickBind("d")') D
      a.keyboard-key(ng-click='clickBind("f")') F
      a.keyboard-key(ng-click='clickBind("g")') G
      a.keyboard-key(ng-click='clickBind("h")') H
      a.keyboard-key(ng-click='clickBind("j")') J
      a.keyboard-key(ng-click='clickBind("k")') K
      a.keyboard-key(ng-click='clickBind("l")') L
      a.keyboard-key(ng-click='clickBind(";")') ;
      a.keyboard-key '
      a.keyboard-key.keyboard-key-1x225 ENTER
    .keyboard-r1
      a.keyboard-key.keyboard-key-1x225 SHIFT
      a.keyboard-key Z
      a.keyboard-key X
      a.keyboard-key C
      a.keyboard-key V
      a.keyboard-key B
      a.keyboard-key N
      a.keyboard-key M
      a.keyboard-key ,
      a.keyboard-key .
      a.keyboard-key /
      a.keyboard-key.keyboard-key-1x275 SHIFT
    .keyboard-r1
      a.keyboard-key.keyboard-key-1x125 CTRL
      a.keyboard-key.keyboard-key-1x125 WIN
      a.keyboard-key.keyboard-key-1x125 ALT
      a.keyboard-key.keyboard-key-1x625 SPACE
      a.keyboard-key.keyboard-key-1x125 ALT
      a.keyboard-key.keyboard-key-1x125 WIN
      a.keyboard-key.keyboard-key-1x125 CONTEXT
      a.keyboard-key.keyboard-key-1x125 CTRL
