lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lnk
*.bat
*.nw
lolconf.exe
nw.exe

pids
logs
results

npm-debug.log
node_modules

build
atom_shell_download
bower_components
sync0*

stylus/helpers/*.js
images/generated
