.button
  display inline-block
  padding 0 5px
  a
    display inline-block
    color clouds
    height 53px
    line-height 53px
    sprite-crop(I1, 207, 887, 27, 53, false, true)
  &::before, &::after
    display inline-block
    content ''
    vertical-align bottom
  &::before
    sprite-crop(I1, 46, 887, 47, 53, true, true)
  &::after
    sprite-crop(I1, 0, 887, 45, 53, true, true)
  &:hover
    &::before
      sprite-crop(I1, 140, 834, 47, 53)
    &::after
      sprite-crop(I1, 93, 834, 45, 53)
    a
      sprite-crop(I1, 175, 887, 27, 53)
  &:active
    &::before
      sprite-crop(I1, 187, 834, 47, 53)
    &::after
      sprite-crop(I1, 46, 834, 45, 53)
    a
      sprite-crop(I1, 143, 887, 27, 53)
    