lc-button(bg, fg = white, shadow = midnight-blue)
  color fg
  background-color bg
  box-shadow inset -1px -2px mix(bg, shadow, 70%)
  border 1px solid mix(bg, shadow, 60%)
  text-decoration none
  box-sizing border-box
  margin 0
  padding 0.2em 1em
  text-shadow 0 1px shadow
  border-radius 3px
  transition background-color .35s, box-shadow .35s
  &:hover
    background-color mix(bg, fg, 80%)
  &:active
    background-color mix(bg, shadow, 90%)
    box-shadow inset 0 1px mix(bg, shadow, 50%)
  &:disabled
    opacity 0.3

button, a.button
  lc-button turquoise
  
