config-editor-half-width()
  width 410px
  vertical-align top

.config-editor-container
  display inline-block
  vertical-align top
  &.full-width
    display block
  .selectize-control
    width 250px
    height 43px
    .selectize-input
      background-color transparent
      border 0
      color clouds
      font-family 'Cabin'
      padding-left 35px
      box-shadow none
      sprite-transition()
      sprite-crop(I6, 0, 665, 250, 43)
      &:hover
        sprite-crop(I6, 0, 579, 250, 43)
      &:active
        sprite-crop(I6, 0, 622, 250, 43)
      &:focus
        outline 0      
      &::after, &::before
        display none
      &.input-active
        background-color transparent
        sprite-crop(I6, 0, 622, 250, 43)

.config-editor-label
  font-weight bold

.config-editor-range
  display block
  width 800px
  height 78px
  padding 5px 0 0 5px
  .range-number
    font-weight bold
    float right
    margin-right 60px
  .range-slider
    input[type='range']
      -webkit-appearance none
      width 746px
      height 42px
      sprite('I6', 8, 793)
      background-color transparent
      &:active, &:focus
        outline 0
      &::-webkit-slider-thumb
        -webkit-appearance none
        sprite-crop(I1, 124, 781, 62, 46, true, true)
        &:hover
          sprite-crop(I1, 62, 781, 62, 46)
        &:active
          sprite-crop(I1, 186, 781, 62, 46)

.config-editor-volume
  .config-editor-range
    .range-number
      margin-right 16px
  .volume-mute
    display inline-block
    sprite-crop(I6, 0, 875, 38, 39, true, true)
    float right
    margin 20px 8px 0 0
    &:hover
      sprite-crop(I6, 78, 875, 38, 39)
    &:active
      sprite-crop(I6, 117, 875, 38, 39)
    &.muted
      sprite-crop(I6, 195, 875, 38, 39)
      &:hover
        sprite-crop(I6, 0, 914, 38, 39)
      &:active
        sprite-crop(I6, 39, 875, 38, 39)

.config-editor-toggle
  config-editor-half-width()
  .toggle-label
    display inline-block
    vertical-align middle
  .toggle-checkbox
    display inline-block
    vertical-align middle
    sprite-crop(I6, 80, 835, 40, 40, true, true)
    &:hover, &:active
      sprite-crop(I6, 120, 835, 40, 40)
    &.checked
      sprite-crop(I6, 0, 835, 40, 40)

.config-editor-resolution
  config-editor-half-width()

.config-editor-rank
  config-editor-half-width()
  ul
    list-style none
    padding 0
    margin 0
    display inline-block
    button-small-ends()
    li
      display inline-block
      button-small-middle()
      &:hover, &.selected
        button-small-middle-hover()
      &:active
        button-small-middle-active()
