.config-editor-container
  display inline-block

.config-editor-label
  font-weight bold

.config-editor-range
  display block
  width 800px
  height 78px
  padding-left 5px
  .range-number
    font-weight bold
    float right
    margin-right 58px
  .range-slider
    input[type='range']
      -webkit-appearance none
      width 746px
      height 42px
      sprite('I6', 8, 793)
      background-color transparent
      &::-webkit-slider-thumb
        -webkit-appearance none
        width 62px
        height 46px
        sprite('I1', 124, 781)
        &:hover
          sprite('I1', 62, 781)
        &:active
          sprite('I1', 186, 781)
.config-editor-volume  
  .volume-mute
    display inline-block
    sprite('I6', 0, 875)
    width 38px
    height 39px
    float right
    margin 20px 8px 0 0
    &:hover
      sprite('I6', 78, 875)
    &:active
      sprite('I6', 117, 875)
    &.muted
      sprite('I6', 195, 875)
      &:hover
        sprite('I6', 0, 914)
      &:active
        sprite('I6', 39, 875)

.config-editor-toggle
  width 410px
  .toggle-label
    display inline-block
    vertical-align middle
  .toggle-checkbox
    display inline-block
    vertical-align middle
    width 40px
    height 40px
    sprite('I6', 80, 835)
    &:hover, &:active
      sprite('I6', 120, 835)
    &.checked
      sprite('I6', 0, 835)
