@import url('http://fonts.googleapis.com/css?family=Signika:400,600')

@font-face
  font-family "Cabin"
  src url("fonts/Cabin-Regular.otf")

@font-face
  font-family "Cabin"
  font-style italic
  src url("fonts/Cabin-Italic.otf")

@font-face
  font-family "Cabin"
  src url("fonts/Cabin-Bold.otf")
  font-weight 700
