.hotkey-bind
  opacity 0
  width 1px
  height 1px
  position absolute
  right 0
  bottom 0

.keyboard
  .keyboard-key
    display inline-block
    height 20px
    width 16px
    margin 2px
    border rgba(255, 255, 255, 0.5)
    border-radius 3px
    text-align center
    &:hover
      background rgba(255, 255, 255, 0.5)
    &.keyboard-key-1x125
      width 20px
    &.keyboard-key-1x150
      width 24px
    &.keyboard-key-1x175
      width 28px
    &.keyboard-key-1x200
      width 32px
    &.keyboard-key-1x225
      width 36px
    &.keyboard-key-1x275
      width 44px
    &.keyboard-key-1x625
      width 100px
    &.keyboard-key-disabled
      background asbestos
      &:hover
        background asbestos
