.hotkey-bind
  opacity 0
  width 1px
  height 1px
  position absolute
  right 0
  bottom 0

.keyboard
  .keyboard-key
    display inline-block
    height 20px
    width 16px
    margin 2px
    border rgba(255, 255, 255, 0.5)
    border-radius 3px
    text-align center
    &.keyboard-key-1x200
      width 32px
    &.keyboard-key-1x150
      width 24px