.modal-overlay
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  z-index 2000
  visibility hidden
  opacity 0
  background rgba(0, 0, 0, 0.2)
  .modal-active &
    visibility visible
    opacity 1  

.modal
  position absolute
  left 50%
  top 50%
  margin -150px 0 0 -150px
  opacity 0
  z-index 2001
  padding 20px

  background rgba(0, 0, 0, 0.3)
  color clouds
  box-shadow 0 0 2px 0 green-sea, 0 0 7px 0 green-sea
  border-radius 7px

  transform scale(0.5)
  transform-origin 50% 50%
  transition 0.3s all

.modal-active
  .main
    -webkit-filter blur(2px)

  .modal
    opacity 1
    transform scale(1)
