.nav-menu, .main-container
  display inline-block

.nav-menu
  width 210px
  position absolute
  top 94px
  left 19px
  height 600px
  ul
    list-style none
    margin 0
    padding 0
    li a
      font-size 20px
      padding 0.5em 1em
      display block
      color rgba(200, 255, 255, 0.8)
      text-decoration none
      text-transform uppercase
      text-shadow 0 0 1px rgba(255, 255, 255, 0.7)      
      &:hover
        background-image url('images/FoundryOptions_I6.png')
        background-position -207px 0
      &:active
        background-image url('images/FoundryOptions_I6.png')
        background-position -209px -50px
      &.current
        background-image url('images/FoundryOptions_I6.png')
        background-position 0 -49px
        color rgba(255, 255, 255, 0.9)
      &.disabled
        text-shadow none
        color rgba(255, 255, 255, 0.3)
        &:hover
          background transparent
          