.nav-menu, .main-container
  display inline-block

.nav-menu
  width 210px
  position absolute
  top 94px
  left 19px
  height 600px
  ul
    list-style none
    margin 0
    padding 0
    li
      a
        font-size 20px
        padding 0.5em 1em
        display block
        color white
        text-decoration none
        transition background-color .35s
        text-shadow 0 1px midnight-blue        
        &:hover
          background-color belize-hole
        &.current
          background-image url('images/FoundryOptions_I6.png')
          background-position 0 -49px
          