.smartcast-key
  display inline-block
  width 104px
  height 151px
  .smartcast-key-selector
    display inline-block
    font-size 72px
    line-height 98px
    text-align center
    sprite-crop(I1, 0, 546, 104, 98, true, true)
    &:hover
      sprite-crop(I1, 208, 546, 104, 98)
    &:active
      sprite-crop(I1, 104, 546, 104, 98)
  .smartcast-key-toggle
    display inline-block
    sprite-crop(I1, 32, 940, 104, 53, true, true)