use('../helpers/spriteCrop.js')

sprite(set, x, y)
  background-image url('images/FoundryOptions_'+set+'.png')
  background-position -1px * x -1px * y

sprite-transition()
  transition background 0.5s

sprite-crop(id, x, y, w, h, set-dimensions = false, set-transition = false)
  background-image crop(id, x, y, w, h)
  if set-dimensions
    height h * 1px
    width w * 1px
  if set-transition
    sprite-transition()

crop(id, x, y, w, h)
  url(extract(id, x, y, w, h))
