.tabs
  ul
    list-style none
    margin 0
    padding 0
    background-color turquoise
    li
      display inline-block
      &.active
        background-color green-sea
      span
        display inline-block
        padding 0.2em 2em
        color white
        transition background-color .35s
        text-shadow 0 1px midnight-blue
        &:hover
          background-color emerald