.global-tooltip
  position absolute
  display none
  background-image url('images/tooltip_bg.png')
  background-size 100% 100%
  margin 10px
  width 320px
  font-size 14px
  border-image url('images/tooltip.png') 12 21 11 21 repeat
  border-width 12px 21px 11px 21px
  opacity 0.8
  color options-blue-green
  border-radius 10px
