.game-config
  .settings
    ul
      list-style none      
      li
        span
          display inline-block
          &.setting-label
            width 30%
          &.setting-control
            width 70%