.game-config
  .settings
    .ui.vertical.menu      
      width 100%
      .item
        span
          display inline-block
          &.setting-label
            width 30%
          &.setting-control
            width 70%