.section-hotkeys
  .subsection-smartcast
    margin 40px 15px 40px 0
    background rgba(0, 0, 0, 0.2)

    &::before
      display block
      content ''
      separator()
    
    .smartcast-header      
      text-align center
      margin-top -29px

    .smartcast-group
      display inline-flex
      flex-direction column
      padding 10px
      .smartcast-group-title        
        padding 15px 0
        color options-blue-green

      &.smartcast-group-summoners
        padding-left 35px
      &.smartcast-group-items
        padding-left 35px
