.section-hotkeys
  .subsection-smartcast
    margin 40px 0
    background rgba(0, 0, 0, 0.2)
    padding 0 15px 15px 15px

    &::before
      display block
      content ''
      separator()
    
    .smartcast-header
      text-align center
      margin -29px 0 0 0

    .smartcast-group
      .smartcast-group-title
        padding 15px 0
        color options-blue-green