.section-hotkeys
  .subsection-smartcast
    margin 40px 15px 40px 0
    background rgba(0, 0, 0, 0.2)

    &::before
      display block
      content ''
      separator()
    
    .smartcast-header      
      text-align center
      margin-top -29px

    .smartcast-group
      display inline-flex
      flex-direction column
      padding 10px
      .smartcast-group-title        
        padding 15px 0
        color options-blue-green

      &.smartcast-group-summoners
        padding-left 35px
      &.smartcast-group-items
        padding-left 35px

  .hotkeys-additional
    .hotkeys-additional-title
      sprite-crop(I6, 0, 407, 792, 43, true, true)
      line-height 43px
      font-size 18px
      color options-blue-green
      text-shadow 0 0 1px options-blue-green, 0 0 5px options-blue-green, 0 0 10px options-blue-green
      &::before
        content '+'
        font-size 25px
        width 10px
        display inline-block
        margin 0 10px
      &:hover
        color clouds
        text-shadow 0 0 1px options-blue-green, 0 0 3px options-blue-green, 0 0 5px options-blue-green, 0 0 7px options-blue-green, 0 0 10px options-blue-green
        &::before
          content '-'
    &::after
      content ''
      display block
      sprite-crop(I6, 0, 450, 792, 43, true, true)
      transform scaleY(0.5)
      margin-top -11px