div.game-config(ng-controller='GameConfigCtrl')
  .tabs
    ul
      li(ng-repeat='(section, _) in settings.sections', ng-class='{active: section === settings.current}')
        span(ng-click='settings.current=section') {{section}}

  .settings
    ul
      li(ng-repeat='setting in settings.sections[settings.current]')
        span.setting-label {{setting.label}}
        span.setting-control(lc-config-editor='setting')
        
