div.game-config(ng-controller='GameConfigCtrl')
  div(lc-tabs='tabs')

  .settings
    ul
      li(ng-repeat='setting in settings[tabs.current]')
        span.setting-label {{setting.label}}
        span.setting-control(lc-config-editor='setting')
        
