.section-game  
  h3 {{'GAMECONFIG_SUBSECTION_CONTROLS'|t}}
  div(lc-config-editor='game.respawn-camera')
  div(lc-config-editor='game.smooth-camera')

  h3 {{'GAMECONFIG_SUBSECTION_GAMEPLAY'|t}}
  div(lc-config-editor='game.auto-attack')
  div(lc-config-editor='game.predict-movement')