.section-hotkeys(ng-controller='HotkeysCtrl')
  h3 {{'GAMECONFIG_SUBSECTION_PRIMARY_HOTKEYS'|t}}

  .subsection-smartcast
    .smartcast-header
      .button
        a(ng-click='$broadcast("smartcast:normal-all")') {{'HOTKEYS_NORMAL_CAST_ALL'|t}}
      .button
        a(ng-click='$broadcast("smartcast:smart-all")') {{'HOTKEYS_QUICK_CAST_ALL'|t}}
    .smartcast-group.smartcast-group-abilities
      .smartcast-group-title {{'HOTKEYS_SMARTCAST_GROUP_ABILITIES'|t}}
      .smartcast-group-keys
        span(lc-smartcast-key='champion.ability.one')
        span(lc-smartcast-key='champion.ability.two')
        span(lc-smartcast-key='champion.ability.three')
        span(lc-smartcast-key='champion.ability.ult')
    .smartcast-group.smartcast-group-summoners
      .smartcast-group-title {{'HOTKEYS_SMARTCAST_GROUP_SUMMONERS'|t}}
      .smartcast-group-keys
        span(lc-smartcast-key='summoner.spell.one')
        span(lc-smartcast-key='summoner.spell.two')      
    .smartcast-group.smartcast-group-items
      .smartcast-group-title {{'HOTKEYS_SMARTCAST_GROUP_ITEMS'|t}}
      .smartcast-group-keys
        span(lc-smartcast-key='item.one')
        span(lc-smartcast-key='item.two')
        span(lc-smartcast-key='item.three')
        span(lc-smartcast-key='item.four')
        span(lc-smartcast-key='item.five')
        span(lc-smartcast-key='item.six')
    .smartcast-group.smartcast-group-items
      .smartcast-group-title {{'HOTKEYS_SMARTCAST_GROUP_VISION'|t}}
      .smartcast-group-keys
        span(lc-smartcast-key='item.vision')        

  h3 {{'GAMECONFIG_SUBSECTION_ADDITIONAL_HOTKEYS'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_ABILITIES'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_ITEMS'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_MOVEMENT'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_CAMERA'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_DISPLAY'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_COMMUNICATION'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_MENUS'|t}}

  .hotkeys-additional
    .hotkeys-additional-title {{'HOTKEYS_ADDITIONAL_SECTION_SHOP'|t}}

  h3 {{'GAMECONFIG_SUBSECTION_RANGE_INDICATORS'|t}}

  div(lc-config-editor='ui.smatcast-on-release')
