div(ng-controller="IndexCtrl")
  div(lc-modal="choose-location")
    p Before everything, please specify the location of your game directory.
    p
      input(ng-model="gameLocation")
    button(ng-click="confirmLocation()") Confirm