div(ng-controller="IndexCtrl")
  p version match: {{match}}

  .ui.menu
    a.item LoLConf
    a.active.item Official
    a.item r/lol
      
  .news
    div(ng-repeat="article in officialNews")
      h4 {{ article.title }}

  div(lc-modal="choose-location")
    p {{'INSTRUCTION_GAME_LOCATION'|t}}
    p
      input(ng-model="gameLocation")
    button(ng-click="confirmLocation()") {{'BUTTON_CONFIRM'|t}}