.section-interface  
  h3 {{'GAMECONFIG_SUBSECTION_INTERFACE_SIZE'|t}}  

  h3 {{'GAMECONFIG_SUBSECTION_HEALTH_BARS'|t}}
  div(lc-config-editor='ui.health-bars')
  div(lc-config-editor='ui.summoner-names')
  div(lc-config-editor='ui.loc-slows')
  div(lc-config-editor='ui.hud-anim') 

  h3 {{'GAMECONFIG_SUBSECTION_ALERTS'|t}}
  div(lc-config-editor='ui.damage-flash')
  div(lc-config-editor='ui.loc-flash')
  div(lc-config-editor='ui.object-tips')

  h3 {{'GAMECONFIG_SUBSECTION_ABILITY_DISPLAY'|t}}
  div(lc-config-editor='ui.target-frame')
  div(lc-config-editor='ui.line-missile')
  div(lc-config-editor='ui.attack-range')
  .full-width(lc-config-editor='ui.cooldown-mode')

  h3 {{'GAMECONFIG_SUBSECTION_MINIMAP'|t}}
  div(lc-config-editor='ui.neutral-camps')
  div(lc-config-editor='ui.flip-minimap')
  div(lc-config-editor='ui.minimap-movement')

  h3 {{'GAMECONFIG_SUBSECTION_CHAT'|t}}
  div(lc-config-editor='ui.timestamps')
  div(lc-config-editor='ui.all-chat')

  h3 {{'GAMECONFIG_SUBSECTION_COMBAT_TEXT'|t}}
  div(lc-config-editor='ft.absorption')
  div(lc-config-editor='ft.omw')
  div(lc-config-editor='ft.spdmg')
  div(lc-config-editor='ft.dmg2')
  div(lc-config-editor='ft.heal2')
  div(lc-config-editor='ft.crit2')
  div(lc-config-editor='ft.xp2')
  div(lc-config-editor='ft.qrec')
  div(lc-config-editor='ft.qcom')
  div(lc-config-editor='ft.score')
  div(lc-config-editor='ft.crit')
  div(lc-config-editor='ft.enemy-crit')
  div(lc-config-editor='ft.legacy-crit')
  div(lc-config-editor='ft.legacy-dmg')
  div(lc-config-editor='ft.debug')
 