.section-interface  
  h3 {{'GAMECONFIG_SUBSECTION_INTERFACE_SIZE'|t}}  

  h3 {{'GAMECONFIG_SUBSECTION_HEALTH_BARS'|t}}
  div(lc-config-editor='ui.health-bars')
  div(lc-config-editor='ui.summoner-names')
  div(lc-config-editor='ui.loc-slows')
  div(lc-config-editor='ui.hud-anim') 

  h3 {{'GAMECONFIG_SUBSECTION_ALERTS'|t}}
  div(lc-config-editor='ui.damage-flash')
  div(lc-config-editor='ui.loc-flash')
  div(lc-config-editor='ui.object-tips')

  h3 {{'GAMECONFIG_SUBSECTION_ABILITY_DISPLAY'|t}}
  div(lc-config-editor='ui.line-missile')
 