.section-interface  
  h3 {{'GAMECONFIG_SUBSECTION_INTERFACE_SIZE'|t}}  

  h3 {{'GAMECONFIG_SUBSECTION_HEALTH_BARS'|t}}

  h3 {{'GAMECONFIG_SUBSECTION_ALERTS'|t}}
  div(lc-config-editor='ui.hud-anim')  

  h3 {{'GAMECONFIG_SUBSECTION_ABILITY_DISPLAY'|t}}
  div(lc-config-editor='ui.line-missile')
 