.section-settings(ng-controller='SettingsCtrl')
  h3 {{'SETTINGS_SUBSECTION_GAME_LOCATION'|t}}  
  p {{location.saved}}
    input(type='file', nwdirectory, lc-directory-chooser, ng-model='location.chosen')
    
  h3 {{'SETTINGS_SUBSECTION_BACKUPS'|t}}
  span.button-small
    a(ng-click='backup()') {{'SETTINGS_BACKUP'|t}}
  span.button-small
    a(ng-click='restore()') {{'SETTINGS_RESTORE'|t}}