.section-sound
  div(lc-config-editor='sound.master-vol')
  div(lc-config-editor='sound.music-vol')
  div(lc-config-editor='sound.fx-vol')
  div(lc-config-editor='sound.voice-vol')
  div(lc-config-editor='sound.annoucer-vol')