.ui.vertical.menu
  .item(lc-config-editor='video.resolution')
  .item(lc-config-editor='video.window-mode')
  .item(lc-config-editor='video.char-qual')
  .item(lc-config-editor='video.effect-qual')
  .item(lc-config-editor='video.env-qual')
  .item(lc-config-editor='video.shadow-qual')
  .item(lc-config-editor='video.vsync')
  .item(lc-config-editor='video.fps-cap')