.section-video
  div(lc-config-editor='video.resolution')
  div(lc-config-editor='video.window-mode')
  div(lc-config-editor='video.color-mode')

  h3 {{'GAMECONFIG_SUBSECTION_GRAPHICS'|t}}

  div(lc-config-editor='video.char-qual')
  div(lc-config-editor='video.effect-qual')
  div(lc-config-editor='video.env-qual')
  div(lc-config-editor='video.shadow-qual')

  h3 {{'GAMECONFIG_SUBSECTION_ADVANCED'|t}}

  .full-width(lc-config-editor='video.anti-alias')
  .full-width(lc-config-editor='video.vsync')
  div(lc-config-editor='video.fps-cap')
  